*.swp
*.sra  # SRA files left lying around

# python compiled files
*.pyc
*.pyo

# testing
.coverage
.tox

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
MANIFEST
.ipynb_checkpoints

# Installer logs
pip-log.txt
